#root {
  /* max-width: 1280px; */
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
}
/*login page*/
#log-logo {
  width: 10rem;
  margin-bottom: -1rem;
}
#log-title {
  margin-top: -1rem;
}
.LoginPage {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section {
  text-align: left;

  padding: 0rem 1rem;
}
.input {
  width: 300px;
  height: 30px;
  border-radius: 28px;
  text-align: center;
  outline: none;
}

.input-title {
  color: black;
}
.log-btn {
  margin: 1rem 2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  background-color: lightblue;
}
.log-btn:hover {
  text-decoration: none;
  opacity: 0.5;
}
.linked {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sign-icon {
  padding-right: 1rem;
}
/*DASHBOARD PAGE*/
.dashboardPage {
  display: flex;
}
#dashlogo {
  width: 60px;
}
.nav-dash {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  color: #fff;
  justify-content: space-between;
}
.map-dash {
  width: 900px;
  height: 90vh;
  background-color: #fff;
}
.log-out {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: lightblue;
}
.log-out:hover {
  background-color: lightsalmon;
}
#log-out {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.dashlink {
  color: #fff;
  text-decoration: none;
}
.dashlink:hover {
  opacity: 0.5;
}
/*Sign up page*/
.sign-up {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  width: 400px;
}
