#root {
  /* max-width: 1280px; */
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
}
/*login page*/
.form-section {
  background-color: #fff;
  width: 1000px;
  height: 512px;
  border-radius: 59px;
}
.input {
  width: 400px;
  height: 40px;
  border-radius: 28px;
  text-align: center;
  outline: none;
}

.input-title {
  padding-top: 1rem;
  color: black;
}
.log-btn {
  margin: 1rem 2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  background-color: lightblue;
}
.log-btn:hover {
  text-decoration: none;
  opacity: 0.5;
}
.linked {
  text-decoration: none;
  color: #000;
}
/*DASHBOARD PAGE*/
.dashboardPage {
  display: flex;
}
.nav-dash {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  color: #fff;
  justify-content: space-between;
}
.map-dash {
  width: 900px;
  height: 90vh;
  background-color: #fff;
}
.log-out {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: lightblue;
}
.log-out:hover {
  background-color: lightsalmon;
}
#log-out {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
